:root {
    --highlight: #f8e8c1;
    --white: #ddc7a1;
    --black: #111111;
    --dark-grey: #1a1a1a;
    --grey: #202020;
    --light-grey: #303030;
    --red: #ea6962;
    --orange: #e78a4e;
    --yellow: #d8a657;
    --green: #a9b665;
    --aqua: #89b482;
    --blue: #7daea3;
    --purple: #d3869b;
    --lain: #dda9a1;
}

html, body {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    white-space: nowrap;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    color: var(--white);
    background: var(--dark-grey);
    border-radius: 2px;
    border: 0px solid var(--black);
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
sup { font-size: 10px; }
