:root {
    --bg-color: #121212;
    --primary-color: #c72c41;
    --secondary-color: #6b85b6;
    --txt-color: #CCCCCC;
    --border-color: #555555;
    --bullet-style: circle;
}

.lambda {
    color: var(--secondary-color);
}

.course {
    color: var(--primary-color);
    display: inline-block;
}

.backlink {
    color: var(--secondary-color);
}

img {
    margin-top: 25px;
    margin-bottom: -10px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-color: #000000;
}

body { 
    background-color: var(--bg-color);
    color: var(--txt-color);
	width: 100%; 
	margin: 20px 0; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
	font-size: 16px;
}

h1 { font-weight: 300; font-size: 48px; margin: 0 0 10px 0; }
h2 { font-weight: 300; font-size: 32px; margin: 0 0 12px 0; }
h3 { font-weight: 300; font-size: 24px; margin: 0 0 6px 0; }
h4 { font-weight: 300; font-size: 20px; margin: 0 0 6px 0; }

div.superhead { font-size: 20px; margin-bottom: 10px; }

li { list-style-type: var(--bullet-style); }

a { text-decoration: none; color: var(--primary-color); }

div.sidebar {
    width: 210px;
    float: left;
    vertical-align: top;
    margin-left: 40px;
    margin-top: 0px;
    border-radius: 3px;
}
div.main { vertical-align: top; margin-left: 290px; margin-right: 40px; }
div.bigmain { margin-left: 40px; margin-right: 40px; }

div.picture { margin: 15px 0; }
div.contact { font-size: 16px; }
div.heading { }
div.name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin: 0 0 10px 0;
}

.contact dt { margin-top: 20px; }
.contact dd { margin-left: 0; }

div.proj {
	margin: 12px 0;
}

div.pub {
	margin: 12px 0;
}

pre {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    overflow-x: scroll;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 14px;
}
