:root {
    --bg-color: #121212;
    --primary-color: #fe8019;
    --secondary-color: #fb4934;
    --txt-color: #ebdbb2;
    --border-color: #555555;
    --bullet-style: none;
}

.lambda {
    color: var(--secondary-color);
}

.course {
    color: var(--primary-color);
    display: inline-block;
}

.backlink {
    color: var(--secondary-color);
}

img {
    margin-top: 0px;
    margin-bottom: -10px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 1px solid #333333;
}

td.info {
    width: 1px;
    padding: 0 10px;
    white-space: nowrap;
}

body { 
    background-color: var(--bg-color);
    color: var(--txt-color);
	width: 100%; 
	margin: 20px 0; 
	font-family: 'Montserrat', sans-serif; 
	font-weight: 300;
	font-size: 18px;
}

h1 { font-weight: 300; font-size: 50px; margin: 0 0 10px 0; }
h2 { font-weight: 300; font-size: 36px; margin: 0 0 10px 0; }
h3 { font-weight: 300; font-size: 26px; margin: 0 0 6px 0; }
h4 { font-weight: 300; font-size: 20px; margin: 0 0 6px 0; }

div.superhead { font-size: 20px; margin-bottom: 10px; }

ul { list-style-type: var(--bullet-style); }

a { text-decoration: none; color: var(--primary-color); }

div.sidebar {
    width: 200px;
    float: left;
    vertical-align: top;
    margin-left: 40px;
    margin-top: 0px;
}
div.main { vertical-align: top; margin-left: 280px; margin-right: 40px; }
div.bigmain { margin-left: 40px; margin-right: 40px; }

div.picture { margin: 15px 0; }
div.contact { font-size: 18px; }
div.heading { }
div.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 60px;
    margin: 0 0 10px 0;
}

.contact dt { margin-top: 20px; }
.contact dd { margin-left: 0; }

.proj {
	margin: 16px 0;
}

.pub {
	margin: 16px 0;
}

pre {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    overflow-x: scroll;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 14px;
}

blockquote {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
