:root {
  --teal: #458588;
  --beige: #a79a84;
  --grey: #686156;
  --dark: #4e4a44;
  --black: #282828;
  --red: #cd241c;
  --alt: #eeb24a;

  /* --white: #fbf7f1; */
  /* --black: #17120f;  [> 27221f <] */
  /* --grey: #5e4a3d;  [> b9a193 <] */

  /* --blue: #1e88e5; */
  /* --green: #22ac7b; */
  /* --yellow: #ffc107; */
  /* --orange: #ff5430; */
  /* --red: #d81b60; */
  /* --purple: #7c1d6f; */

  /* [> --gold: #d79921; <] */
  /* --gold: #ea9c00; */
  /* --ndblue: #0c2340; */
  /* --ndgold: #ae9142; */
  /* --nddarkgold: #8c7535; */

  --arxiv: #b31b1b;
  --arxiv-red: #b31b1b;
  --arxiv-grey: #b3aca5;

  --link: var(--black);
  --hover: var(--gold);

  --code-white: #ebdbb2;  /* 27221f */
  --code-black: #282828;  /* 27221f */

  /* --red: #ea6962; */
  /* --green: #a9b665; */
  /* --yellow: #d8a657; */
  /* --blue: #83a598; */
  /* --purple: #d3869b; */
  /* --orange: #e78a4e; */

  /* --lain: #dda9a1; */
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url(fonts/BerkeleyMono-Regular.woff2) format(woff2),
       url(fonts/BerkeleyMono-Regular.woff)  format(woff);
}
@font-face {
  font-family: 'Berkeley Mono Ligatures';
  src: url(fonts/BerkeleyMonoLigatures-Regular.woff2) format(woff2),
       url(fonts/BerkeleyMonoLigatures-Regular.woff)  format(woff);
}

html {
  scroll-behavior: smooth;

  font-family: "Berkeley Mono", monospace;
  font-size: 20px;
}

span.displaynone { display: none; }

.floatright { float: right; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.emph {
  display: inline;
  /* font-weight: 300; */
}
