:root {
    --links: #b99494;
    --white: #e1e1e1;
    --black: #121212;
    --grey: #313131;
    --light-grey: #212121;
    --red: #cc241d;
    --aqua: #689d6a;
    --blue: #458588;
    --green: #98971a;
    --orange: #d65d0e;
    --yellow: #d79921;
}

@keyframes color-fade-link {
    from {
        background-color: var(--black);
        color: var(--links);
    }
    to {
        background-color: var(--links);
        color: var(--black);
    }
}
@keyframes color-fade-green {
    from {
        background-color: var(--black);
        color: var(--green);
    }
    to {
        background-color: var(--green);
        color: var(--black);
    }
}
@keyframes color-fade-orange {
    from {
        background-color: var(--black);
        color: var(--orange);
    }
    to {
        background-color: var(--orange);
        color: var(--black);
    }
}
@keyframes color-fade-red {
    from {
        background-color: var(--black);
        color: var(--red);
    }
    to {
        background-color: var(--red);
        color: var(--black);
    }
}
@keyframes color-fade-blue {
    from {
        background-color: var(--black);
        color: var(--blue);
    }
    to {
        background-color: var(--blue);
        color: var(--black);
    }
}
@keyframes color-fade-aqua {
    from {
        background-color: var(--black);
        color: var(--aqua);
    }
    to {
        background-color: var(--aqua);
        color: var(--black);
    }
}
@keyframes color-fade-yellow {
    from {
        background-color: var(--black);
        color: var(--yellow);
    }
    to {
        background-color: var(--yellow);
        color: var(--black);
    }
}
@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .info {
        display: inline-flex;
        align-items: center;
        width: 400px;
    }
    .name {
        margin-left: -136px;
        /* margin-left: -65px; */
    }
    .links {
        width: 300px;
    }
}
@media only screen and (max-device-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .info {
        display: inline-flex;
        align-items: center;
        width: 400px;
    }
    .name {
        margin-left: -136px;
    }
    .links {
        width: 300px;
    }
}

a {
    text-decoration: none;
}
a.link {
    color: var(--links);
    /*border-radius: 3px;*/
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
}
a.link:hover {
    color: var(--black);
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-link;
    animation-duration: 0.5s;
    background-color: var(--links);
    border-radius: 3px;
}
a.blue {
    color: var(--blue);
    font-size: 16px;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
}
a.blue:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-blue;
    animation-duration: 0.5s;
    background-color: var(--blue);
    color: var(--black);
    border-radius: 3px;
}
a.red {
    color: var(--red);
    font-size: 16px;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
}
a.red:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-red;
    animation-duration: 0.5s;
    background-color: var(--red);
    color: var(--black);
    border-radius: 3px;
}
a.yellow {
    color: var(--yellow);
    font-size: 16px;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
}
a.yellow:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-yellow;
    animation-duration: 0.5s;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 3px;
}
a.aqua {
    color: var(--aqua);
    font-size: 16px;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
}
a.aqua:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-aqua;
    animation-duration: 0.5s;
    background-color: var(--aqua);
    color: var(--black);
    border-radius: 3px;
}
a#cv {
    color: var(--yellow);
    padding-left: 2px;
    padding-right: 2px;
}
a#cv:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-yellow;
    animation-duration: 0.5s;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 3px;
}
a#twitter {
    color: var(--blue);
    padding-left: 2px;
    padding-right: 2px;
}
a#twitter:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-blue;
    animation-duration: 0.5s;
    background-color: var(--blue);
    color: var(--black);
    border-radius: 3px;
}
a#google {
    color: var(--green);
    padding-left: 2px;
    padding-right: 2px;
}
a#google:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-green;
    animation-duration: 0.5s;
    background-color: var(--green);
    color: var(--black);
    border-radius: 3px;
}
a#github {
    color: var(--orange);
    padding-left: 2px;
    padding-right: 2px;
}
a#github:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-orange;
    animation-duration: 0.5s;
    background-color: var(--orange);
    color: var(--black);
    border-radius: 3px;
}
a#linkedin {
    color: var(--aqua);
    padding-left: 2px;
    padding-right: 2px;
}
a#linkedin:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-aqua;
    animation-duration: 0.5s;
    background-color: var(--aqua);
    color: var(--black);
    border-radius: 3px;
}
a.pdf {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 3px;
    font-size: 12px;
}
a.pdf:hover {
    animation-name: color-fade-red;
    animation-duration: 0.5s;
    background-color: var(--red);
    color: var(--black);
    border-radius: 3px;
}
a.code {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 3px;
    font-size: 12px;
}
a.code:hover {
    animation-name: color-fade-blue;
    animation-duration: 0.5s;
    background-color: var(--blue);
    color: var(--black);
    border-radius: 3px;
}
a.slides {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--aqua);
    border: 1px solid var(--aqua);
    border-radius: 3px;
    font-size: 12px;
}
a.slides:hover {
    animation-name: color-fade-aqua;
    animation-duration: 0.5s;
    background-color: var(--aqua);
    color: var(--black);
    border-radius: 3px;
}
a.poster {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 3px;
    font-size: 12px;
}
a.poster:hover {
    animation-name: color-fade-yellow;
    animation-duration: 0.5s;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 3px;
}

html {
}

body { 
    background-color: var(--black);
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

div.container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
div.sidebar {
    width: 256px;
    margin: 10px;
    margin-top: 16px;
    font-size: 12px;
}
div.name {
    font-size: 28px;
    text-align: center;
}
div.links {
    text-align: center;
}
div.main {
    width: 608px;
}
div.heading {
    font-size: 28px;
    color: var(--white);
    background-color: var(--light-grey);
    border-radius: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 16px;
    margin-bottom: 4px;
    margin-right: 16px;
}
div.content {
    margin-right: 16px;
}

h1 {
    display: inline;
    margin: 0px;
    font-size: 16px;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 4px;
}
h2 {
    display: inline;
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}
h3 {
    display: inline;
    margin: 2px;
    font-size: 12px;
    font-weight: lighter;
    background: var(--light-grey);
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0.25px;
    padding-bottom: 0.75px;
    float: right;
}

sup {
    vertical-align: top;
}

ul {
    margin: 2px;
    list-style-type: none;
}
ul.education {
    font-size: 12px;
}
ol {
    margin: 2px;
    list-style-type: cjk-ideographic;
}
li {
    margin: 0px;
}
li.pub {
    font-size: 14px;
}
.emph {
    display: inline;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

img {
}
img.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    width: 75%;
    border: 1px solid var(--light-grey);
}
img.icon {
    height: 1em;
    position: relative;
    top: 2px;
}
img.png {
    display: inline-block;
    image-rendering: crisp-edges;
    margin-left: auto;
    margin-right: auto;
}
#keyboards {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr { border: 1px solid #333333; }

td.info {
    width: 1px;
    padding: 0 10px;
    white-space: nowrap;
}
