:root {
    --primary: #202020;
    --primary-alt: #3c3836;
    --secondary: #ffffff;
    --secondary-alt: #fbf1d7;
}

@keyframes color-fade {
    from {
        background-color: var(--secondary);
        color: var(--primary);
    }
    to {
        background-color: var(--primary);
        color: var(--secondary);
    }
}

a {
    text-decoration: none;
    color: var(--primary-alt);
}
a:hover {
    animation-name: color-fade;
    animation-duration: 0.5s;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 3px;
}

body { 
    background-color: var(--secondary);
    color: var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

div.container {
    display: flex;
    max-width: 896px;
    margin-left: auto;
    margin-right: auto;
}
div.sidebar {
    margin: 10px;
    min-width: 200px;
    max-width: 200px;
    font-size: 12px;
}
div.name {
    font-size: 28px;
    text-align: center;
}
div.links {
    text-align: center;
}
div.main {
    flex-grow: 1;
    min-width: 512px;
}
div.heading {
    font-size: 28px;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 3px;
    padding: 0px 10px;
    margin-top: 16px;
    margin-bottom: 4px;
    margin-right: 16px;
}
div.content {
    margin-right: 16px;
}

h1 {
    display: inline;
    margin: 0px;
    font-size: 18px;
}
h2 {
    display: inline;
    margin: 0px;
    font-size: 16px;
    text-align: right;
    float: right;
}

sup {
    vertical-align: top;
}

ul {
    margin: 0px;
    list-style-type: none;
}
ol {
    margin: 0px;
    list-style-type: cjk-ideographic;
}
li {
    margin: 0px;
}
li.pub {
    font-size: 14px;
}
.emph {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

img {
}
img.headshot {
    display: block;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 80%;
}
img.icon {
    height: 1em;
    position: relative;
    top: 2px;
    filter: invert(.25);
    -webkit-filter: invert(.25);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr { border: 1px solid #333333; }

td.info {
    width: 1px;
    padding: 0 10px;
    white-space: nowrap;
}
