:root {
  /* --white: #f7f0e4; */
  --white: #fbf7f1;

  --black: #17120f;  /* 27221f */
  --grey: #5e4a3d;  /* b9a193 */

  --blue: #1e88e5;
  --green: #22ac7b;
  --yellow: #ffc107;
  --orange: #ff5430;
  --red: #d81b60;
  --purple: #7c1d6f;

  /* --gold: #d79921; */
  --gold: #ea9c00;
  --ndblue: #0c2340;
  --ndgold: #ae9142;
  --nddarkgold: #8c7535;

  --arxiv: #b31b1b;
  --arxiv-red: #b31b1b;
  --arxiv-grey: #b3aca5;

  --link: var(--black);
  --hover: var(--gold);

  /* --red: #ea6962; */
  /* --green: #a9b665; */
  /* --yellow: #d8a657; */
  /* --blue: #83a598; */
  /* --purple: #d3869b; */
  /* --orange: #e78a4e; */

  /* --lain: #dda9a1; */
}

/*  */
/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
  display: none;
  font-size: 11px;
  list-style-type: none;
}
/*position the label*/
label {
  position: relative;
  display: inline-block;
  /* margin: 0px; */
  /* padding: 0px; */
  cursor: pointer;
}
/*show the submenu when input is checked*/
input:checked~ul.submenu {
  /* position: relative; */
  display: inline-block;
  /* margin: 0px; */
  /* padding: 0px; */
}
/*  */

html { scroll-behavior: smooth; }
object { }
embed { }
iframe { }
div.floatright {
  float: right;
}

a {
  transition: 0.3s;
  color: var(--link);
  /* color: var(--nddarkgold); */
  border-radius: 2px;
  text-decoration: none;
  white-space: nowrap;
}
a:hover { color: var(--hover); }
a#blue:hover { color: var(--blue); }
a#green:hover { color: var(--green); }
a#yellow:hover { color: var(--yellow); }
a#orange:hover { color: var(--orange); }
a#red:hover { color: var(--red); }
a#purple:hover { color: var(--purple); }
a#gold:hover { color: var(--gold); }
a#grey:hover { color: var(--grey); }

a svg {
  position: inline;
  height: 24px;
  margin: 8px 2px 0px 4px;
  color: var(--link); 
}
a svg path {
  transition: 0.3s;
  fill: currentColor;
}
a:hover svg { }
/* a svg path { color: var(--black); } */
a svg path.arxiv#red { color: var(--white); }
a svg path.arxiv#grey { color: var(--white); }
a:hover svg path.arxiv#red { color: var(--arxiv-red); }
a:hover svg path.arxiv#grey { color: var(--white); }
a.arxiv:hover svg { color: var(--yellow); }
a.publication:hover svg { color: var(--red); }
a.supplementary:hover svg { color: var(--orange); }
a.abstract:hover svg { color: var(--orange); }
a.code:hover svg { color: var(--blue); }
a.poster:hover svg { color: var(--green); }
a.slides:hover svg { color: var(--green); }
a.latex:hover svg { color: var(--yellow); }


body { 
  padding: 0px;
  margin: 0px;
  color: var(--black);
  font-family: "EB Garamond", serif;
  background-color: var(--white);
}
.emph {
  display: inline;
  font-weight: 300;
}

caption { font-size: 24px; }
table {
  /* border: 1px solid var(--white); */
  box-sizing: border-box;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  /* font-family: "Kode Mono", sans-serif; */
}
table.single {
  width: 100%;
  min-width: 450px;
  max-width: 500px;
  margin: 10px;
}
table.double {
  width: 100%;
  max-width: 300px;
}
.row {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-evenly;
  align-items: top;
}
.column { }
tr { }
tr.rule { border-bottom: 1px dotted var(--black); }
th, td { padding: 2px 4px; }
th {
  text-align: left;
  font-weight: normal;
}
td { text-align: right; }

div.name {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  box-sizing: border-box;
  align-self: flex-start;
  /* height: 100px; */
  width: 100%;
  margin: 0px;
  /* padding: 16px 32px; */
  padding: 32px 32px 32px 32px;
  /* font-size: 48px; */
  font-size: 48px;
  font-family: "Jacquard 12", serif;
  text-align: left;
  background-color: var(--white);
  /* background-color: var(--black); */
  white-space: nowrap;
}
div.name a { color: var(--black); }
div.name a:hover { color: var(--hover); }
div.subname {
  white-space: nowrap;
  text-align: center;
  margin-top: 16px;
  font-size: 22px;
  color: var(--black);
}
div.container {
  display: flex;
  justify-content: left;
  align-items: top;
  height: auto;
}
div.sidebar {
  position: fixed;
  display: block;
  /* position: -webkit-sticky; */
  z-index: 998;
  top: 112px;
  order: 1;
  align-self: flex-start;
  margin: 0px;
  padding: 16px 16px 16px 48px;
  /* padding: 32px; */
  /* padding: 16px; */
  /* width: 180px; */
  /* min-width: 180px; */
  min-width: 160px;
  width: 160px;
  height: 512px;
  font-size: 48px;
  font-family: "Jacquard 12", serif;
  text-align: right;
  /* background-color: var(--white); */
  /* background-color: var(--black); */
  /* border-right: 1px solid var(--black); */
}
div.sidebar div.entry { padding-bottom: 96px; }
div.sidebar ul#teaching {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div.sidebar ul#teaching li {
  float: right;
  cursor: pointer;
}
div.sidebar ul#teaching li ul {
  display: block;
  /* display: none; */
  list-style: none;
  font-size: 20px;
  /* font-variant: small-caps; */
  /* padding-bottom: -4px; */
  transition: 0.3s;
  opacity: 0;
}
div.sidebar ul#teaching li ul li { }
div.sidebar ul#teaching li:hover { color: var(--red); }
div.sidebar ul#teaching li:hover ul {
  transition: 0.5s;
  opacity: 1;
}
div.sidebar a {
  float: right;
  color: var(--black);
}

div.lastupdate {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin: 8px;
  padding: 8px;
  text-align: center;
  color: var(--black);
  /* font-size: 12px; */
}
div.main {
  /* position: relative; */
  /* top: 112px; */
  /* left: 224px; */
  order: 2;
  padding: 64px;
  padding-top: 136px;
  padding-left: 288px;
  width: 100%;
  min-width: 384px;
  /* max-width: 800px; */
  text-align: left;
  font-size: 22px;
}
div.main#index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 384px;
  min-width: 384px;
  max-width: 384px;
  padding: 32px;
}
div.main#teaching {
  /* font-family: "Jacquard 12", serif; */
}

div.heading {
  padding: 0px;
  margin: 0px;
  /* margin-top: -9px; */
  margin-bottom: 8px;
  font-size: 32px;
  font-family: "Jacquard 12", serif;
}
.content { margin-bottom: 10px; }
/* .content { */
  /* margin-right: 16px; */
  /* margin-bottom: 10px; */
/* } */

div.date {
  white-space: nowrap;
  display: inline-block;
  margin: 0px;
  padding: 2px 6px;
  font-size: 18px;
}

h1 {
  /* display: inline; */
  margin: 0px;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: normal;
  white-space: nowrap;
}
h2 {
  /* white-space: nowrap; */
  display: inline;
  margin: 0px;
  font-size: 24px;
  font-weight: normal;
}
h3 {
  /* white-space: nowrap; */
  display: inline;
  margin: 0px;
  font-size: 22px;
  font-weight: normal;
}
h4 {
  display: inline;
  padding: 0px 2px;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
}

p {
  margin: 0px;
  padding: 0px;
}
p.desc {
  max-width: 600px;
  font-size: 16px;
  padding: 4px 0px;
}

sup { font-size: 10px; }

ul { }
ol {
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 20px;
  /* line-height: 24px; */
  list-style-type: decimal;
}
ol.research { }
ol.research div.link {
  display: block;
  font-size: 16px;
  margin: 8px 4px;
}
ol.research li {
  margin: 0px;
}
ol.research li.entry {
  margin-top: 0px;
  margin-bottom: 20px;
}
ol.research li.entry h2 {
  display: inline;
  margin: 0px;
  font-size: 20px;
  font-weight: normal;
  /* white-space: nowrap; */
}
ol.research li.entry div {
  font-size: 16px;
}
ol.research li.entry div.authors {
  position: relative;
  display: inline;
}
ol.research li.entry div.author {
  display: inline;
  white-space: nowrap;
}
ol.research li.entry div.author#me {
  display: inline;
  white-space: nowrap;
  /* font-weight: bold; */
  /* text-decoration: underline wavy 1px; */
  /* -webkit-text-decoration: underline wavy; */
}
ol.research li.entry div.note {
  position: relative;
  white-space: nowrap;
  display: inline;
  margin: 1px;
}

div.headshot {
  position: absolute;
  display: block;
  top: 160px;
  /* margin-top: 16px; */
  width: 256px;
  height: 256px;
  /* min-width: 256px; */
  /* max-width: 256px; */
  border-radius: 0px;
  background-image: url("images/gonzalez-2024-gravity-fest_thumbnail.jpg");
}
img { }
img.headshot {
  /* margin: 0px auto; */
  /* padding-top: 32px; */
  width: 256px;
  min-width: 256px;
  max-width: 256px;
  border-radius: 0px;
  /* image-rendering: pixelated; */
}
img.icon {
  position: relative;
  top: 2px;
  height: 1em;
  fill: var(--white);
}
/* img.icon:hover { */
  /* fill: var(--hover); */
/* } */
img.png {
  display: inline-block;
  image-rendering: crisp-edges;
  margin-left: auto;
  margin-right: auto;
}
#keyboards {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin: 0px;
  width: 100%;
  border-style: dotted none none;
  border-width: 6px;
  border-color: var(--black);
}
/* hr { */
    /* width: 20%; */
    /* border-width: 7px; */
    /* border-color: red; */
/* } */


/* === === === === === === === === === === === === === === === === === */

