:root {
    /* --white: #f3f1e2; */
    --white: #e1e1e1;
    --black: #101010;
    --grey: #313131;
    --red: #cc241d;
    --aqua: #689d6a;
    --blue: #458588;
    --green: #98971a;
    --orange: #d65d0e;
    --yellow: #d79921;
}

@keyframes color-fade-link {
    from {
        background-color: var(--black);
    }
    to {
        background-color: var(--grey);
    }
}
@keyframes color-fade-twitter {
    from {
        background-color: var(--black);
        color: var(--white);
    }
    to {
        background-color: var(--blue);
        color: var(--black);
    }
}
@keyframes color-fade-google {
    from {
        background-color: var(--black);
        color: var(--white);
    }
    to {
        background-color: var(--green);
        color: var(--black);
    }
}
@keyframes color-fade-github {
    from {
        background-color: var(--black);
        color: var(--white);
    }
    to {
        background-color: var(--orange);
        color: var(--black);
    }
}
@keyframes color-fade-linkedin {
    from {
        background-color: var(--black);
        color: var(--white);
    }
    to {
        background-color: var(--aqua);
        color: var(--black);
    }
}
@keyframes color-fade-pdf {
    from {
        background-color: var(--black);
        color: var(--red);
    }
    to {
        background-color: var(--red);
        color: var(--black);
    }
}
@keyframes color-fade-code {
    from {
        background-color: var(--black);
        color: var(--blue);
    }
    to {
        background-color: var(--blue);
        color: var(--black);
    }
}
@keyframes color-fade-slides {
    from {
        background-color: var(--black);
        color: var(--aqua);
    }
    to {
        background-color: var(--aqua);
        color: var(--black);
    }
}
@keyframes color-fade-poster {
    from {
        background-color: var(--black);
        color: var(--yellow);
    }
    to {
        background-color: var(--yellow);
        color: var(--black);
    }
}
@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .sidebar {
    }
    .main {
    }
    .info {
        display: inline-flex;
        align-items: center;
        width: 400px;
    }
    .name {
        margin-left: -65px;
    }
    .links {
        width: 200px;
    }
}
@media only screen and (max-device-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .sidebar {
    }
    .main {
    }
    .info {
        display: inline-flex;
        align-items: center;
        width: 512px;
    }
    .name {
        margin-left: -65px;
    }
    .links {
        width: 200px;
    }
}

a {
    text-decoration: none;
}
a.link {
    color: var(--white);
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
}
a.link:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-link;
    animation-duration: 0.5s;
    background-color: var(--grey);
    border-radius: 3px;
}
a#twitter {
    color: var(--white);
    padding-left: 2px;
    padding-right: 2px;
}
a#twitter:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-twitter;
    animation-duration: 0.5s;
    background-color: var(--blue);
    color: var(--black);
    border-radius: 3px;
}
a#google {
    color: var(--white);
    padding-left: 2px;
    padding-right: 2px;
}
a#google:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-google;
    animation-duration: 0.5s;
    background-color: var(--green);
    color: var(--black);
    border-radius: 3px;
}
a#github {
    color: var(--white);
    padding-left: 2px;
    padding-right: 2px;
}
a#github:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-github;
    animation-duration: 0.5s;
    background-color: var(--orange);
    color: var(--black);
    border-radius: 3px;
}
a#linkedin {
    color: var(--white);
    padding-left: 2px;
    padding-right: 2px;
}
a#linkedin:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation-name: color-fade-linkedin;
    animation-duration: 0.5s;
    background-color: var(--aqua);
    color: var(--black);
    border-radius: 3px;
}
a.pdf {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 3px;
    font-size: 12px;
}
a.pdf:hover {
    animation-name: color-fade-pdf;
    animation-duration: 0.5s;
    background-color: var(--red);
    color: var(--black);
    border-radius: 3px;
}
a.code {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 3px;
    font-size: 12px;
}
a.code:hover {
    animation-name: color-fade-code;
    animation-duration: 0.5s;
    background-color: var(--blue);
    color: var(--black);
    border-radius: 3px;
}
a.slides {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--aqua);
    border: 1px solid var(--aqua);
    border-radius: 3px;
    font-size: 12px;
}
a.slides:hover {
    animation-name: color-fade-slides;
    animation-duration: 0.5s;
    background-color: var(--aqua);
    color: var(--black);
    border-radius: 3px;
}
a.poster {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 3px;
    font-size: 12px;
}
a.poster:hover {
    animation-name: color-fade-poster;
    animation-duration: 0.5s;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 3px;
}

html {
}

body { 
    background-color: var(--black);
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

div.container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
div.sidebar {
    width: 256px;
    margin: 10px;
    margin-top: 16px;
    font-size: 12px;
}
div.name {
    font-size: 28px;
    text-align: center;
}
div.links {
    text-align: center;
}
div.main {
    width: 608px;
}
div.heading {
    font-size: 28px;
    color: var(--white);
    background-color: var(--grey);
    border-radius: 3px;
    padding: 0px 10px;
    margin-top: 16px;
    margin-bottom: 4px;
    margin-right: 16px;
}
div.content {
    margin-right: 16px;
}

h1 {
    display: inline;
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 4px;
}
h2 {
    display: inline;
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    float: right;
}
h3 {
    display: inline;
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    background: #212121;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

sup {
    vertical-align: top;
}

ul {
    margin: 0px;
    list-style-type: none;
}
ul.education {
    font-size: 14px;
}
ol {
    margin: 0px;
    list-style-type: cjk-ideographic;
}
li {
    margin: 0px;
}
li.pub {
    font-size: 14px;
}
.emph {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

img {
}
img.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 75%;
}
img.icon {
    height: 1em;
    position: relative;
    top: 2px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr { border: 1px solid #333333; }

td.info {
    width: 1px;
    padding: 0 10px;
    white-space: nowrap;
}
