/*  */
/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
  display: none;
  font-size: 11px;
  list-style-type: none;
}
/*position the label*/
label {
  position: relative;
  display: inline-block;
  /* margin: 0px; */
  /* padding: 0px; */
  cursor: pointer;
}
/*show the submenu when input is checked*/
input:checked~ul.submenu {
  /* position: relative; */
  display: inline-block;
  /* margin: 0px; */
  /* padding: 0px; */
}
/*  */

ul { }

ol {
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 20px;
  /* line-height: 24px; */
  list-style-type: decimal;
}
ol.research { }
ol.research div.link {
  display: block;
  font-size: 16px;
  margin: 8px 4px;
}
ol.research li { margin: 0px; }
ol.research li.entry {
  margin-top: 0px;
  margin-bottom: 20px;
}
ol.research li.entry h2 {
  display: inline;
  margin: 0px;
  font-size: 20px;
  font-weight: normal;
  /* white-space: nowrap; */
}
ol.research li.entry div { font-size: 16px; }
ol.research li.entry div.authors {
  position: relative;
  display: inline;
}
ol.research li.entry div.author {
  display: inline;
  white-space: nowrap;
}
ol.research li.entry div.author#me {
  display: inline;
  white-space: nowrap;
  /* font-weight: bold; */
  /* text-decoration: underline wavy 1px; */
  /* -webkit-text-decoration: underline wavy; */
}
ol.research li.entry div.note {
  position: relative;
  white-space: nowrap;
  display: inline;
  margin: 1px;
}
