object { }
embed { }
iframe { }

div.headshot {
  position: absolute;
  display: block;
  top: 160px;
  /* margin-top: 16px; */
  width: 256px;
  height: 256px;
  /* min-width: 256px; */
  /* max-width: 256px; */
  border-radius: 0px;
  background-image: url("images/gonzalez-2024-gravity-fest_thumbnail.jpg");
}

img { }
img.headshot {
  /* margin: 0px auto; */
  /* padding-top: 32px; */
  width: 256px;
  min-width: 256px;
  max-width: 256px;
  border-radius: 0px;
  /* image-rendering: pixelated; */
}
img.icon {
  position: relative;
  top: 2px;
  height: 1em;
  fill: var(--white);
}
/* img.icon:hover { fill: var(--hover); } */
img.png {
  display: inline-block;
  image-rendering: crisp-edges;
  margin-left: auto;
  margin-right: auto;
}

#keyboards {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
