div.name {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  box-sizing: border-box;
  align-self: flex-start;
  /* height: 100px; */
  width: 100%;
  margin: 0px;
  /* padding: 16px 32px; */
  padding: 32px 32px 32px 32px;
  /* font-size: 48px; */
  font-size: 48px;
  /* font-family: "Jacquard 12", serif; */
  text-align: left;
  background-color: var(--white);
  /* background-color: var(--black); */
  white-space: nowrap;
}
div.name a { color: var(--black); }
div.name a:hover { color: var(--hover); }
div.subname {
  white-space: nowrap;
  text-align: center;
  margin-top: 16px;
  font-size: 22px;
  color: var(--black);
}
