div.sidebar {
  position: fixed;
  display: block;
  /* position: -webkit-sticky; */
  z-index: 998;
  top: 112px;
  order: 1;
  align-self: flex-start;
  margin: 0px;
  padding: 16px 16px 16px 48px;
  /* padding: 32px; */
  /* padding: 16px; */
  /* width: 180px; */
  /* min-width: 180px; */
  min-width: 160px;
  width: 160px;
  height: 512px;
  font-size: 48px;
  /* font-family: "Jacquard 12", serif; */
  text-align: right;
  /* background-color: var(--white); */
  /* background-color: var(--black); */
  /* border-right: 1px solid var(--black); */
}

div.sidebar a {
  float: right;
  color: var(--black);
}

div.sidebar div.entry { padding-bottom: 96px; }

div.sidebar ul#teaching {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div.sidebar ul#teaching li {
  float: right;
  cursor: pointer;
}
div.sidebar ul#teaching li ul {
  display: block;
  /* display: none; */
  list-style: none;
  font-size: 20px;
  /* font-variant: small-caps; */
  /* padding-bottom: -4px; */
  transition: 0.3s;
  opacity: 0;
}
div.sidebar ul#teaching li ul li { }
div.sidebar ul#teaching li:hover { color: var(--red); }
div.sidebar ul#teaching li:hover ul {
  transition: 0.5s;
  opacity: 1;
}
